@import "tailwindcss";


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
}

h3 {
  color: #252B42;
  font-weight: bold;
}

p {
  color: #737373;
}

a {
  color: #737373
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
